# Maven
target/
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Allure
allure-results/
allure-report/

# Cucumber Reports
cucumber-reports/

# Logs
*.log